.btn-my-animation-border {
	background:#fff;
	padding: 12px 16px;
	font-size:18px;
	font-weight: 400;
	color: #023f7f ;
	cursor: pointer;
}

.btn-my-animation-noborder {
	background:#023f7f;
	padding: 12px 16px;
	font-size:18px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	margin-top: 30px;
}



