.et_google_font_options { display: none; background: #eee; padding: 5px 0; height: 196px; overflow: auto; }
	.et_filter_text { position: relative; }
		.et_filter_text:before { content: ''; width: 0; height: 0; border-color: #ccc transparent; border-style: solid; border-width: 6px 6px 0; position: absolute; top: 18px; right: 8px; z-index: 1; }
	.et_google_font_options, .et_filter_text { background: #fff; border: 1px solid #dfdfdf; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
	.et_filter_text, .et_google_font_options li { display: block; padding: 5px 10px; text-indent: -9999px; background-repeat: no-repeat; height: 30px; background-image: url(images/all-fonts.png); margin-bottom: 0; }
	.et_gf_default_theme_font { background-position: 0 -35px; }
	.et_gf_open_sans { background-position: 0 -97px; }
	.et_gf_oswald { background-position: 0 -163px; }
	.et_gf_droid_sans { background-position: 0 -224px; }
	.et_gf_lato { background-position: 0 -284px; }
	.et_gf_open_sans_condensed { background-position: 0 -343px; }
	.et_gf_pt_sans { background-position: 0 -401px; }
	.et_gf_ubuntu { background-position: 0 -460px; }
	.et_gf_pt_sans_narrow { background-position: 0 -520px; }
	.et_gf_yanone_kaffeesatz { background-position: 0 -579px; }
	.et_gf_roboto_condensed { background-position: 0 -638px; }
	.et_gf_source_sans_pro { background-position: 0 -697px; }
	.et_gf_nunito { background-position: 0 -755px; }
	.et_gf_francois_one { background-position: 0 -814px; }
	.et_gf_roboto { background-position: 0 -874px; }
	.et_gf_Roboto { background-position: 0 -933px; }
	.et_gf_arimo { background-position: 0 -992px; }
	.et_gf_cuprum { background-position: 0 -1051px; }
	.et_gf_play { background-position: 0 -1109px; }
	.et_gf_dosis { background-position: 0 -1169px; }
	.et_gf_abel { background-position: 0 -1229px; }
	.et_gf_droid_serif { background-position: 0 -1287px; }
	.et_gf_arvo { background-position: 0 -1347px; }
	.et_gf_lora { background-position: 0 -1406px; }
	.et_gf_rokkitt { background-position: 0 -1464px; }
	.et_gf_pt_serif { background-position: 0 -1520px; }
	.et_gf_bitter { background-position: 0 -1580px; }
	.et_gf_merriweather { background-position: 0 -1640px; }
	.et_gf_vollkorn { background-position: 0 -1698px; }
	.et_gf_cantata_one { background-position: 0 -1757px; }
	.et_gf_kreon { background-position: 0 -1817px; }
	.et_gf_josefin_slab { background-position: 0 -1876px; }
	.et_gf_playfair_display { background-position: 0 -1938px; }
	.et_gf_bree_serif { background-position: 0 -1996px; }
	.et_gf_crimson_text { background-position: 0 -2055px; }
	.et_gf_old_standard_tt { background-position: 0 -2113px; }
	.et_gf_sanchez { background-position: 0 -2173px; }
	.et_gf_crete_round { background-position: 0 -2232px; }
	.et_gf_cardo { background-position: 0 -2290px; }
	.et_gf_noticia_text { background-position: 0 -2348px; }
	.et_gf_judson { background-position: 0 -2406px; }
	.et_gf_lobster { background-position: 0 -2465px; }
	.et_gf_unkempt { background-position: 0 -2529px; }
	.et_gf_changa_one { background-position: 0 -2589px; }
	.et_gf_special_elite { background-position: 0 -2646px; }
	.et_gf_chewy { background-position: 0 -2706px; }
	.et_gf_comfortaa { background-position: 0 -2767px; }
	.et_gf_boogaloo { background-position: 0 -2827px; }
	.et_gf_fredoka_one { background-position: 0 -2887px; }
	.et_gf_luckiest_guy { background-position: 0 -2945px; }
	.et_gf_cherry_cream_soda { background-position: 0 -3003px; }
	.et_gf_lobster_two { background-position: 0 -3060px; }
	.et_gf_righteous { background-position: 0 -3124px; }
	.et_gf_squada_one { background-position: 0 -3183px; }
	.et_gf_black_ops_one { background-position: 0 -3240px; }
	.et_gf_happy_monkey { background-position: 0 -3299px; }
	.et_gf_passion_one { background-position: 0 -3357px; }
	.et_gf_nova_square { background-position: 0 -3415px; }
	.et_gf_metamorphous { background-position: 0 -3476px; }
	.et_gf_poiret_one { background-position: 0 -3535px; }
	.et_gf_bevan { background-position: 0 -3596px; }
	.et_gf_shadows_into_light { background-position: 0 -3655px; }
	.et_gf_the_girl_next_door { background-position: 0 -3714px; }
	.et_gf_coming_soon { background-position: 0 -3774px; }
	.et_gf_dancing_script { background-position: 0 -3833px; }
	.et_gf_pacifico { background-position: 0 -3896px; }
	.et_gf_crafty_girls { background-position: 0 -3959px; }
	.et_gf_calligraffitti { background-position: 0 -4020px; }
	.et_gf_rock_salt { background-position: 0 -4082px; }
	.et_gf_amatic_sc { background-position: 0 -4151px; }
	.et_gf_leckerli_one { background-position: 0 -4211px; }
	.et_gf_tangerine { background-position: 0 -4270px; }
	.et_gf_reenie_beanie { background-position: 0 -4327px; }
	.et_gf_satisfy { background-position: 0 -4388px; }
	.et_gf_gloria_hallelujah { background-position: 0 -4450px; }
	.et_gf_permanent_marker { background-position: 0 -4508px; }
	.et_gf_covered_by_your_grace { background-position: 0 -4564px; }
	.et_gf_walter_turncoat { background-position: 0 -4623px; }
	.et_gf_patrick_hand { background-position: 0 -4680px; }
	.et_gf_schoolbell { background-position: 0 -4739px; }
	.et_gf_indie_flower { background-position: 0 -4796px; }

	.et_google_font_active, .et_google_font_options li:hover { background-color: #effbff; }